*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: local(Futura New);
  font: Futura New;
}

body {
  overflow-x: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

/*-----------------------------BUTTONS---------------------------------------------------*/
.download_btn {
  background-color: black;
  color: #fff;
  padding: 2px 8px 1px 8px;
  border: 1px solid gray;
  border-bottom: 2px solid gray;
  font-size: 7px;
  line-height: 14px;
  height: 41px;
  width: 128px;
}
.download_btn .download_brand {
  font-size: 14px;
  font-weight: 400;
}
.download_btn .download_brand1 {
  font-size: 14px;
  font-weight: 400;
}

/*------------------------------------BUTTONS---END--------------------------------------------*/
main {
  display: block;
  padding: 30px;
  height: 100%;
  overflow-x: hidden;
}
main .container {
  display: block;
}
main .container .col-8 {
  display: grid;
  align-items: center;
}
main ul {
  list-style: none;
  gap: 10px;
}
main ul a {
  text-decoration: none;
}

.main__image {
  width: 255px;
  height: 255px;
  border-radius: 20px;
}

.main__title {
  font-family: SchoolBook;
  font-weight: 400;
  font-size: 80px;
  line-height: 110px;
}

.main_item {
  font-family: Futura New;
  font-style: Bold;
  font-size: 20px;
  line-height: 30px;
}

.col-8 a {
  font-weight: 600;
}

.main__title {
  line-height: 0 !important;
  margin-bottom: 0;
}

header {
  height: 100px;
  width: 100%;
  box-shadow: 1px 0px 10px gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header img {
  width: 70px;
  height: 70px;
}
header .col-8 {
  display: flex;
  align-items: center;
}
header .location {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: gray;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 165px);
}
main .container .main__title {
  font-family: SchoolBook;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 30px;
  color: black;
}
main .container ul {
  padding: 0;
  margin-bottom: 0;
}
main .container ul li {
  font-family: Futura New;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
}
main .container ul li a {
  text-decoration: none;
  color: #59443F;
  line-height: 50px;
}
main .container ul .main__item {
  font-family: SchoolBook;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}
main .container iframe {
  margin-top: 50px;
  width: 50vw;
}

@font-face {
  font-family: Futura New;
  src: url(../../assests/fonts/Futura-Book-Font/Futura\ Book\ Font/);
  font-weight: normal;
}
.zapis_main {
  min-height: 100vh;
  display: block;
  justify-content: baseline;
  align-items: baseline;
  font-family: sans-serif !important;
}
.zapis_main .container {
  justify-content: baseline;
  align-items: baseline;
}
.zapis_main .container .row {
  height: 100%;
}
.zapis_main .container .row > * {
  padding: 0;
}
.zapis_main .zapis_back {
  color: #FFC59E;
}
.zapis_main .lists_wrapper {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.zapis_main .zapis_item {
  height: 65.3846153846px;
  border-radius: 13.3333333333px;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 20px;
}
.zapis_main .zapis_item:hover {
  cursor: pointer;
  border: 1px solid #C3B9B5;
}
.zapis_main .zapis_item .item_content {
  font-size: 16px;
}
.zapis_main .main_big_text {
  font-size: 52px;
  font-weight: 500;
}
.zapis_main .vhod_content {
  padding: 40px 0 !important;
  height: 354.4px !important;
  width: 320px !important;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}
.zapis_main .vhod_content .vhod_title {
  font-size: 24px;
}
.zapis_main .vhod_content .vhod_form .vhod_input {
  margin-top: 24px;
  margin-bottom: 22px;
  width: 275.2px;
  height: 45.6px;
  border: 1px solid #EDE9E8;
  border-radius: 16px;
}
.zapis_main .vhod_content .vhod_form .vhod_input::-moz-placeholder {
  padding: 40px;
}
.zapis_main .vhod_content .vhod_form .vhod_input:-ms-input-placeholder {
  padding: 40px;
}
.zapis_main .vhod_content .vhod_form .vhod_input::placeholder {
  padding: 40px;
}
.zapis_main .vhod_content .vhod_form .vhod_btn {
  background: #EDE9E8;
  height: 53.6px;
  width: 227.624px;
  border-radius: 26.8px;
  border: none;
  color: #fff;
  font-weight: 600;
}
.zapis_main .vhod_content .for_form {
  position: absolute;
  top: 146.2px;
  left: 10.8%;
}

@media only screen and (min-width: 991px) {
  .zapis_main {
    padding: 60px 120px 60px 130px;
  }
}
@media only screen and (min-width: 991px) {
  .main_big_text {
    padding-right: 3vw !important;
  }
}
@media only screen and (max-width: 380px) {
  .main_big_text {
    font-size: 30px !important;
    margin-bottom: 30px;
  }
  .zapis_item {
    height: 40px !important;
  }
  .zapis_item .item_content {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 329px) {
  .main_big_text {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 620px) {
  .back_item {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 468px) {
  .main_big_text {
    margin-bottom: 30px;
  }
  .zapis_main {
    padding: 8px !important;
  }
}
@media only screen and (max-width: 768px) {
  .main_big_text {
    font-size: 40px !important;
    margin-bottom: 30px;
  }
}
/*-------------------------------------FOOTER-------------------------------------------------------*/
footer {
  color: #fff;
  width: 100vw;
  min-height: 44px;
  background-color: #59443f;
  font-size: 14px;
}
footer li {
  line-height: 26px;
}
footer li:hover > * {
  color: rgb(211, 205, 205);
}
footer li:hover {
  cursor: pointer;
}
footer li a {
  color: #fff;
  font-size: 14px;
  font-weight: 450;
}
footer li .footer_brand {
  font-size: 40px;
  font-family: "SchoolBook";
  font-weight: 600;
  letter-spacing: 1px;
}
footer .brand_icon {
  height: 12vh;
  position: absolute;
  left: -58%;
  top: -25%;
}
footer .groups_img {
  width: 40px;
}

/*-------------------------------------FOOTER---IS---FINISHED------------------------------------------------*/
header {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */