<<<<<<< HEAD
    *
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    @import "../sass/contact/contact";
    @import "./variables";
    @import "./blog/blog";
    @import "./blog-2/blog-2"
=======
@import "./themes/theme";
@import "./base/main";
@import "./components/buttons";
@import "./layout/footer";
>>>>>>> f612e1a (Footer is finished)
