/*-------------------------------------FOOTER-------------------------------------------------------*/

footer {
    color: #fff;
    width: 100vw;
    min-height: 44px;
    background-color: $brown;
    font-size: 14px;
    li {
        line-height: 26px;
        &:hover > * {
            color: rgb(211, 205, 205);
        }
        &:hover {
            cursor: pointer;
        }
        a {
            color: #fff;
            font-size: 14px;
            font-weight: 450;
        }
        .footer_brand {
            font-size: 40px;
            font-family: 'SchoolBook';
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    .brand_icon {
        height: 12vh;
        position: absolute;
        left: -58%;
        top: -25%;
    }
    .groups_img {
        width: 40px;
    }
}
/*-------------------------------------FOOTER---IS---FINISHED------------------------------------------------*/