@font-face {
    font-family: Futura New;
    src: url(../../assests/fonts/Futura-Book-Font/Futura\ Book\ Font/);
    font-weight: normal;
}

.zapis_main {
    min-height: 100vh;
    display: block;
    justify-content: baseline;
    align-items: baseline;
    font-family: sans-serif !important;
    .container {
        justify-content: baseline;
        align-items: baseline;
        .row {
            height: 100%;
            &> * {
                padding: 0;
            }
        }
    }
    .zapis_back {
        color: $orange;
    }
    .lists_wrapper {
        column-gap: 20px;
    }
    .zapis_item {
        height: calc(85px / 1.3);
        border-radius: calc(20px / 1.5);
        background-color: white;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        padding: 0 20px 0 20px;
        &:hover {
            cursor: pointer;
            border: 1px solid #C3B9B5;
        }
        .item_content {
            font-size: 16px;
        }
    }
    .main_big_text {
        font-size: 52px;
        font-weight: 500;
    }
    .modal-content {
        padding: 20px 0 !important;
        height: calc(443px / 1.25) !important;
        width: calc(400px / 1.25) !important;
        background-color: #fff;
        border-radius: calc(20px / 1.25);
        position: relative;
        .btn_close {
            border: none;
            background-color: transparent;
            position: absolute;
            top: 16px;
            right: 16px;
            width: fit-content;
            height: fit-content;
            padding: 6px;
            &:hover {
                cursor: pointer;
            }
        }
        .vhod_title {
            font-size: calc(30px / 1.25);
        }
        .vhod_form {
            position: relative;
            .for_form {
                position: absolute;
                left: 12px;
                top: 35px;
            }
            .for_form2 {
                position: absolute;
                left: 68.1px;
                top: 35px;
            }
            .vhod_input {
                margin-top: 24px;
                margin-bottom: 22px;
                width: calc(344px / 1.25);
                height: calc(57px / 1.25);
                border: 1px solid #EDE9E8;
                border-radius: calc(20px / 1.25);
                padding-left: 40px;
                border: none;
                &:valid {
                    border: 2px solid green;
                }
                &:invalid {
                    border: 1px solid #EDE9E8;
                }
                &:valid + .vhod_phone > .vhod_btn {
                    background: black !important;
                }
                &:invalid .vhod_btn {
                    background-color: #EDE9E8;
                }
            }
            .vhod_btn {
                background: #EDE9E8;
                height: calc(67px / 1.25);
                width: calc(284.53px / 1.25);
                border-radius: calc(33.5px / 1.25);
                border: none;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

    @media only screen and (min-width: 991px) {
        .zapis_main {
            padding: 60px 120px 60px 130px;
        }
    }
    
    @media only screen and (min-width: 991px) {
        .main_big_text {
            padding-right: 3vw !important;
        }
    }
    
    @media only screen and (max-width: 380px) {
        .main_big_text {
            font-size: 30px !important;
            margin-bottom: 30px;
        }
        .zapis_item {
            height: 40px !important;
            & .item_content {
                font-size: 13px !important;
            }
        }
    }
    
    @media only screen and (max-width: 329px) {
        .main_big_text {
            margin-left: 20px;
        }
    }
    
    @media only screen and (max-width: 620px) {
        .back_item {
            margin-left: 20px;
        }
    }
    
    @media only screen and (max-width: 468px) {
        .main_big_text {
            margin-bottom: 30px;
        }
        .zapis_main {
            padding: 8px !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .main_big_text {
            font-size: 40px !important;
            margin-bottom: 30px;
        }
    }