/*-----------------------------BUTTONS---------------------------------------------------*/




.download_btn {
    background-color: black;
    color: #fff;
    padding: 2px 8px 1px 8px;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
    font-size: 7px;
    line-height: 14px;
    height: 41px;
    width: 128px;
    .download_brand {
        font-size: 14px;
        font-weight: 400;
    }
    .download_brand1 {
        font-size: 14px;
        font-weight: 400;
    }
}


/*------------------------------------BUTTONS---END--------------------------------------------*/