main
{
    display: block;
    padding: 30px;
<<<<<<< HEAD
=======
    height: 100%;
    overflow-x: hidden;
>>>>>>> a4316d9c72df03b9c4bbcf9f97e75c1274d5951a

    .container
    {
        display: block;

        .col-8
        {
            display: grid;
            align-items: center;
        }
    }

    ul 
    {
        list-style: none;
        gap: 10px;

        a
        {
            text-decoration: none;
        }
    }
}

.main__image
{
    width: 255px;
    height: 255px;
    border-radius: 20px;
}

.main__title
{
    font-family: SchoolBook;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
}

.main_item
{
    font-family: Futura New;
    font-style: Bold;
    font-size: 20px;
    line-height: 30px;
<<<<<<< HEAD
}

// footer {
//     color: #fff;
//     width: 100vw;
//     min-height: 469px;
//     background-color: $brown;
//     font-size: 14px;
//     li {
//         line-height: 26px;
//         &:hover > * {
//             color: rgb(211, 205, 205);
//         }
//         &:hover {
//             cursor: pointer;
//         }
//         a {
//             color: #fff;
//             font-size: 14px;
//             font-weight: 450;
//         }
//         .footer_brand {
//             font-size: 40px;
//             font-family: 'SchoolBook';
//             font-weight: 600;
//             letter-spacing: 1px;
//         }
//     }
//     .brand_icon {
//         height: 12vh;
//         position: absolute;
//         left: -58%;
//         top: -25%;
//     }
//     .groups_img {
//         width: 40px;
//     }
// }
=======
}
>>>>>>> a4316d9c72df03b9c4bbcf9f97e75c1274d5951a
