@import "../variables";

header
{
    height: 100px;
    width: 100%;
    box-shadow: 1px 0px 10px gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img
    {
        width: 70px;
        height: 70px;
    }

    .col-8
    {
        display: flex;
        align-items: center;
    }

    .location
    {
        display: flex;
        align-items: center;
    }

    ul
    {
        display: flex;
        justify-content: center;
        gap: 50px;

        li
        {
            list-style: none;

            a 
            {
                text-decoration: none;
                color: gray;
            }
        }
    }
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 165px);

    .container
    {
        
        .main__title
        {
            font-family: SchoolBook;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 50px;
            margin-top: 30px;
            color: black;
        }

        ul
        {
            padding: 0;
            margin-bottom: 0;

            li
            {
                font-family: Futura New;
                font-size: 20px;
                font-weight: 400;
                line-height: 35px;
                letter-spacing: 0px;
                text-align: left;
                list-style: none;

                a
                {
                    text-decoration: none;
                    color: #59443F;
                    line-height: 50px;
                }
            }

            .main__item
            {
                font-family: SchoolBook;
                font-size: 30px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: 0px;
                text-align: left;
            }
        }

        iframe
        {
            margin-top: 50px;
            width: 50vw;
        }
    }
}