@font-face {
    font-family: Futura New;
    src: url(../../assests/fonts/Futura-Book-Font/Futura\ Book\ Font/);
    font-weight: normal;
}

.zapis_oplata {
    max-height: 200vh;
    overflow-y: auto;
    display: block;
    justify-content: baseline;
    align-items: baseline;
    font-family: sans-serif !important;
    padding-top: 90px;
    padding-bottom: 30px;
    .container {
        justify-content: baseline;
        align-items: baseline;
        .row {
            width: 100%;
            height: fit-content;
            margin: 0;
            padding: 0;
            &> * {
                padding: 0;
            }
        }
    }
    .w-45 {
        width: 48.8%;
    }
    .oplata_form {
        .oplata_text {
            font-size: 14px;
            line-height: 25px;
            color: $brown;
            margin-top: 10px;
        }
        .check_form {
            background-color: #EDE9E8;
            border-radius: calc(20px / 1.25);
            min-height: calc(294px / 1.25);
            max-height: 320px !important;
            font-size: 15px;
            .check_img {
                max-width: 150px;
                min-width: 100px;
            }
            .check_btn {
                height: calc(67px / 1.25);
                border-radius: calc(33.5px / 1.25);
                border: none;
                color: #fff;
                font-weight: 600;
                margin-bottom: 22px;
                margin-top: 20px;
                background-color: transparent;
                &:invalid .check_btn {
                    background-color: transparent;
                }
                &:valid .check_btn {
                    background-color: $orange !important;
                }
            }
        }
        .for_problem {
            padding-top: 20px;
            padding-bottom: 140px;
            word-wrap: break-word;
        }
        .oplata_input {
            font-size: 15px;
            padding-left: 10px;
            height: calc(57px / 1.3);
            border: 1px solid #EDE9E8;
            border-radius: calc(20px / 1.25);
            &:valid {
                border: 2px solid green;
            }
            &:invalid {
                border: 1px solid #EDE9E8;
            }
            &:focus-visible {
                border: 1px solid #EDE9E8;        
            }
        }
    }
    .zapis_back {
        color: $orange;
    }
    .main_big_text2 {
        font-size: 48px;
        font-weight: 500;
    }
}

@media only screen and (max-width: 991px) {
    .main_big_text2 {
        margin-bottom: 40px;
        text-align: center;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .w-45 {
            width: 100% !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .main_big_text2 {
            font-size: 40px !important;
        }
    }
    
    @media only screen and (max-width: 620px) {
        .back_item {
            margin-left: 20px !important;
        }
    }
    
    @media only screen and (max-width: 546px) {
        .main_big_text2 {
            font-size: 28px !important;
        }
    }
    
    @media only screen and (max-width: 468px) {
        .zapis_oplata {
            padding: 40px 0 0 0 !important;
        }
    }

    @media only screen and (max-width: 420px) {
        .main_big_text2 {
            font-size: 25px !important;
        }
    }
    
    @media only screen and (max-width: 380px) {
        .oplata_input {
            height: 40px !important;
            font-size: 12px !important;
        }
        .oplata_text {
            font-size: 12px !important;
        }
    }
    
    @media only screen and (max-width: 305px) {
        .oplata_input {
            font-size: 10px !important;
        }
        .oplata_text {
            font-size: 10px !important;
            line-height: 14px !important;
        }
    }
    
    @media only screen and (max-width: 277px) {
        .main_big_text2 {
            font-size: 20px !important;
        }
    }
    
    @media only screen and (max-width: 230px) {
        .main_big_text2 {
            font-size: 18px !important;
        }
    }
    
    @media only screen and (max-width: 230px) {
        .w-45 {
            width: 100% !important;
        }
    }
    